{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-white p-3">
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Web Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>

    </div>
    <div class="row text-white p-3">
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Android</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">IOS</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Advertising</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>

    </div>
    <div class="row text-white p-3">
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Logo Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Hosting</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>
        <div class="col-sm-4 text-center p-4">
            <h3 class="tag-color">Support</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus!</p>
        </div>

    </div>
</div>
{% endblock content %}